<h1> Book <%= rbook.name %></h1>
<p> author <%= rbook.author %></p>
<p> edition <%= rbook.edition %></p>
<p> subject <%= rbook.subject %></p>
<p> description <%= rbook.description %></p>
<p> lend <%= rbook.lend %></p>
<p> owner <%= rbook.owner %></p>
<p> Phn_no <%= rbook.Phn_no. %></p>
